<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post" action="/user/login">
        <label>Enter Email : </label>
        <input type="email" required name="email">
        <label>Enter Password : </label>
        <input type="password" required name="password">

        <button type="submit">Login</button>
    </form>
    
</body>
</html>